<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  <div><img src="logo-1.png" alt="MKSafeNet Logo" class="logo" style="max-height: 25vh; max-width: 100%" /></div>
  <div class="d-flex justify-content-around w-100 row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 p-2" style="min-height: 100px">
      <div class="card card-gradient w-100 h-100 d-flex flex-column justify-content-center align-items-center p-3">
        <div class="h3">Квиз</div>
        <div class="h5 text-center">Проверете го вашето знаење во категорија Интернет безбедност тривија!</div>
        <a href="/quiz"><button class="btn btn-colors"><i class="bi bi-controller"></i> Играј</button></a>
      </div>
    </div>
    <div class="bg-danger col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="min-height: 100px">

    </div>
    <div class="bg-warning col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="min-height: 100px">

    </div>
    <div class="bg-danger col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="min-height: 100px">

    </div>
    <div class="bg-warning col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="min-height: 100px">

    </div>
    <div class="bg-danger col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" style="min-height: 100px">

    </div>

  </div>


</div>
